/* Global Styles */
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  
  /* Navigation Styles */
  nav {
    text-align: center;
    margin-top: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #000;
  }
  
  /* Content Styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  /* Form Styles */
form {
  margin-top: 20px;
  max-width: 400px;
}

fieldset {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: none;
  border-color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #fff;
  color: #000;
}